.block-activity .img {
    flex: 1;
    text-align: center;
}

.block-activity .description {
    flex: 2;
    text-align: center;
}

.block-activity .description .title-and-address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.block-activity .description .text {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 50%;
}